
.text-center{
    text-align: center;
    color : rgb(132, 95, 167);
}

/* calc size */

.container{
    height: 590px;
    width: 390px;
    border: 2px solid rgb(132, 95, 167);
    background-color: #E2E0E0;
    margin: auto;
    border-radius: 5%;
}

.calc-display{
    border: 2px solid rgb(202, 174, 174);
    height: 120px;
    width: 368px;
    margin: 9px 9.4px;
    background-color: #F5F5F5;
    border-radius: 10%;
    font-size: 55px;
    color:  rgb(132, 95, 167);
}

.buttons{
    border: 1px solid rgb(202, 174, 174);
    height: 1.6rem;
    width: 0.6rem;
    padding: 34px;
    margin: 6px 12px;
    background-color: rgb(132, 95, 167);
    color: wheat;
    text-align: center;
    font-size: 23px;
    border-radius: 35%;
    cursor: pointer;
    box-shadow: 5px 5px rgb(145, 124, 124);
}

.button-zero{
    box-shadow: 5px 5px  rgb(145, 124, 124);
    border: 1px solid rgb(202, 174, 174);
    height: 1.6rem;
    width: 0.6rem;
    padding: 35px 83px;
    margin: 6px 12px;
    background-color: rgb(132, 95, 167);
    color: wheat;
    text-align: center;
    font-size: 23px;
    border-radius: 35%;
    cursor: pointer;
}

.buttons:hover{
    background-color: black;
    color: white;
}

.button-zero:hover{
    background-color: black;
    color: white;
}
